<% provide(:title, "Sign up") %>

<h1>ユーザー登録</h1>

<div class="wrapper--form--box">

  <%= form_with(model: @user) do |f| %>

    <% if flash[:error_messages] %>
      <div class="alert alert-danger">
        <ul>
          <% flash[:error_messages].each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <h4>メールアドレス</h4>
    <%= f.email_field :email, class: 'text_box'  %>

    <h4>パスワード</h4>
    <%= f.password_field :password, class: 'text_box' %>

    <h4>パスワード (確認用)</h4>
    <%= f.password_field :password_confirmation, class: 'text_box' %>

    <%= f.submit "Sign up", class: "submit_button" %>
  <% end %>
</div>